.about-container-large {
  display: flex;
  flex-direction: column;
  height: auto; /* Adjust height for responsive layout */
  font-family: "Space Grotesk";
  height: 100vh;
}

@media (max-width: 480px) {
  .about-container-large {
    margin-bottom: 5vh;
  }
}

.description-container {
  display: flex;
  flex-direction: row; /* Default to row for larger screens */
  gap: 50px;
}
@media (max-width: 900px) {
  .description-container {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Optional: center-align the content */
    text-align: center; /* Optional: center the text */
    gap: 100px;
  }

  .description {
    font-size: 1em; /* Adjust font size for smaller screens */
    margin-top: 20px; /* Add some spacing between image and text */
  }
}

.about-container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 6vw; /* Adjust font size based on viewport width */
  font-weight: 800;
}

.get {
  color: grey;
  font-size: 1.5rem;
}

img {
  height: 15vh; /* Adjust height for responsiveness */
}

.education {
  margin-top: 5vh;
  font-size: 1.2rem;
}

.description {
  font-size: 1.2em;
}

.giphy-embed {
}
