.contact-container {
  margin-top: 10vw;
  margin-bottom: 30vh;
  font-family: "Space Grotesk";
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.contact-desc {
  width: 40vw;
}

.git,
.res,
.email,
.lin {
  color: black;
}

a {
  text-decoration: none;
}

.info-container-contact {
  flex-direction: column;
  display: flex;
  gap: 1vh;
  font-size: 1.1rem;
  margin-left: 0;
  padding-left: 0;
}

.info-container-contact li {
  align-self: flex-start;
  list-style: none; /* Removes bullet points */
}

.school-email {
  color: black;
}

@media (max-width: 768px) {
  .school-email,
  .lin,
  .git,
  .res {
    display: flex;
    flex-direction: column;
    list-style: disc; /* Ensure bullet points are displayed */
  }
}
