.projects {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 5%;
  gap: 2vh;
  font-family: "Space Grotesk";
}

.card-container {
  padding: 1rem;
  border: 1px solid black;
  display: flex;
  border-radius: 10px;
  gap: 1vw;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
}

.loo {
  width: 40%;
  height: auto;
  object-fit: cover; /* Prevents image distortion */
  margin: 0;
  padding: 0;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .loo {
    width: 100%;
    height: auto;
  }
}

.header-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loo-skills {
  display: flex;
  gap: 1vw;
  width: 100%;
  flex-wrap: wrap;
}

.loo-skill-item {
  height: 5vh;
}

.box-header {
  display: flex;
  justify-content: space-between;
}

.loo.sa {
  width: 60%;
  height: 100%;
  object-fit: cover; /* Prevents image distortion */
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .loo.sa {
    width: 100%;
    height: auto;
  }
}

.projects-portfolio {
  width: 60%;
  height: auto;
  object-fit: cover; /* Prevents image distortion */
  margin: 0;
  padding: 0;
}

.box-header.portfolio {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.github {
  object-fit: cover;
  width: 40px;
  height: auto;
}

.sa-demo {
  margin-bottom: 1vh;
}

.desc-git {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .desc-git {
    flex-direction: column;
  }
}

.portfolio-con {
  gap: 1vh;
}

.projectdesc {
  margin-bottom: 15px;
}
